html{
    scroll-behavior: smooth;
}

body{
    font-family: "Noto Sans JP";
    margin: auto;
}


.navi{
    display: flex;
    justify-content: flex-end;
}

.navititle{
    padding: 50px 25px;
    font-size: 20px;
}

.navititle a{
    color: white;
    text-decoration: none;
    font-family: "Noto Sans JP";
}


.btn a{
    text-decoration: none;
    color: white;
    padding: 5px 20px 5px 20px;
}


footer{
    margin-top: 10px;
    height: 30px;
    background-color: #A6D8BE;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media only screen and (min-width: 1000px) {
    body{
    min-width: 1350px; /* 最小幅 */

    background-image: url(../img/background.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100vw;
    }

    .main{
        margin:10vw;
    }

    .main_position{
        display: flex;
    }
    .main_pic{
        margin: 0 0 0 auto;
    }

    .main_message{
        font-family: 'Cormorant', serif;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        color: white;
        font-size: 80px;
    }
    .main_message_2{
        font-family: 'Cormorant', serif;
        font-size: 20px;
        color: white;
        line-height: 40px;
    }

}


@media only screen and (max-width: 480px) {
    body{
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100vw;
    }

    .main_wrap{
        text-align: center;
        padding-bottom: 100px;
        height: 250px;
        background-color: #A6D8BE;
    }

    .main{
        margin:0 20px;
    }

    .main_message{
        padding-top: 20px;
        font-family: 'Cormorant', serif;
        font-weight: bold;
        color: white;
        font-size: 40px;
        padding-bottom: 20px;
    }
    .main_message_2{
        text-align: center;
        font-family: 'Cormorant', serif;
        color: white;
        font-size: 15px;
    }
    .main_message_3{
        text-align: center;
        font-family: 'Cormorant', serif;
        color: white;
        font-size: 15px;
        line-height: 40px;
    }

    .main_pic{
        height: 130px;
    }

    

    /* ボタン */
    .btn{
        background-color: #459D6F;
        font-size: 15px;
        color: white;
        margin:5px 20px 5px 20px;
        border-radius: 50px;
    }


    #btn-hover:hover{
        box-shadow: 0px 0px 15px 2px #FFD966;
        transform: scale(0.9);
    }

    /*== ボタン共通設定 */
    .btn_anime{
        /*アニメーションの起点とするためrelativeを指定*/
        position: relative;
        overflow: hidden;
        /*ボタンの形状*/
        text-decoration: none;
        display: inline-block;
        padding: 10px;
        text-align: center;
        outline: none;
        /*アニメーションの指定*/   
        transition: ease .2s;
    }

    /*ボタン内spanの形状*/
    .btn_anime {
        position: relative;
        color:#FFD966;
    }

    .btn_anime span {
        position: relative;
        z-index: 2;
    }

    .btn_anime:hover span{
        color: black;
    }

    /*== 背景が流れる（斜め） */
    .bg_anime::before {
        content: '';
        /*絶対配置で位置を指定*/
        position: absolute;
        top: 0;
        left: -130%;
        /*色や形状*/
        background:#FFD966;
        width:120%;
        height: 100%;
        transform: skewX(-25deg);
    }

    /*hoverした時のアニメーション*/
    .bg_anime:hover::before {
        animation: skewanime .5s forwards;/*アニメーションの名前と速度を定義*/

    }

    @keyframes skewanime {
        100% {
            left:-10%;/*画面の見えていない左から右へ移動する終了地点*/
        }
    }

    .sim_form {
        position: relative;
        width: 80%;
        margin: 40px 3%;
        display: flex;
        justify-content: center;
    }
    .sim_form input[type='text'] {
        font: 15px/24px sans-serif;
        box-sizing: border-box;
        width: 100%;
        letter-spacing: 1px;
        padding-left: 4em;
    }
    .sim_form input[type='text']:focus {
        outline: none;
    }
    .ef {
        padding: 4px 0;
        border: 0;
        border-bottom: 1px solid #1b2538;
        background-color: transparent;
    }
    .ef ~ .focus_line {
        position: absolute;
        z-index: 99;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
    }
    .ef ~ .focus_line:before,
    .ef ~ .focus_line:after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 100%;
        content: '';
        transition: 0.4s;
        background-color: #FFC50D;
    }
    .ef ~ .focus_line:after {
        right: 0;
        left: auto;
    }
    .ef:focus ~ .focus_line:before,
    .ef:focus ~ .focus_line:after,
    .sim_form.ef ~ .focus_line:before,
    .sim_form.ef ~ .focus_line:after {
        width: 50%;
        transition: 0.4s;
    }
    .ef ~ label {
        position: absolute;
        z-index: -1;
        top: 4px;
        left: 0;
        width: 100%;
        transition: 0.3s;
        letter-spacing: 0.5px;
        color: #aaaaaa;
    }
    .ef:focus ~ label,
    .sim_form.ef ~ label {
        font-size: 12px;
        top: -16px;
        transition: 0.3s;
        color: #FFC50D;
    }


}